*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    background-color: lightblue;
}

.logo{
    height: 80%;
    width: 20%;
    border: 2px solid black;
    color: white;
    background-color: lightsalmon;
}

.link{
    height: 80%;
    width: 40%;
    border: 2px solid black;
    background-color: lightsalmon;
}

.login{
    height: 80%;
    width: 20%;
    border: 2px solid black;
    text-align: right;
    color: white;
    background-color: lightsalmon;
}

ul{
    margin: 10px;
    text-align: center;
}

li{
    display: inline-block;
    color: white;
}

.container-a{
    height: 400px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-b{
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center
}

.container-c{
    height: 400px;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center
}

.container-d{
    height: 800px;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center
}

.container-e{
    height: 100px;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center
}

.box{
    height: 80%;
    width: 50%;
    background-color: pink;
    border: 2px solid black;
}

.box-a{
    height: 80%;
    width: 35%;
    background-color: rgb(0, 162, 255);
    border: 2px solid black;
}

.box-b{
    height: 80%;
    width: 25%;
    background-color: lightpink;  
    border: 2px solid black;
}

.box-c{
    height: 90%;
    width: 60%;
    background-color: green; 
    border: 2px solid black;
}

.box-d{
    height: 95%;
    width: 20%;
    background-color: lightcoral;
    border: 2px solid black;
}

.box-e{
    height: 95%;
    width: 10%;
    background-color: aquamarine;
    border: 2px solid black;
}

.box-f{
    height: 50%;
    width: 30%;
    background-color: aquamarine;
    border: 2px solid black;
}

.box-f:nth-child(2){
    height: 50%;
    width: 30%;
    background-color: aquamarine;
    border: 2px solid black;
    text-align: right;
}



